<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CSS Basic Test</title>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk_tC_xXaWhmGgIKKrqvLzlOoN2vvlBwg"></script>
		<script type="text/javascript" src="../public/js/fp_main.js"></script>
		<style>
			.container {

			}

			#titleBar {
				background: #ffccff;
			}

			#inputBar {
				background: #ccffff;
			}

			#directionsPanel {
				background: #ffffcc;
			    float: right;
			    width: 390px;
			    overflow: auto;
			}

			#googleMap {
				background: #ccccff;
				height: 500px;
				width: 500px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div id="titleBar">Title bar</div>
			<div id="inputBar">Input bar</div>
			<div id="directionsPanel">Directions panel</div>
			<div id="googleMap"></div>
		</div>
	</body>
</html>