<html>
	<head>
		<title>The LineHopper</title>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places"></script>
		<script type="text/javascript" src="/js/fp_main.js"></script>
		<meta charset="utf-8">
<!-- 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> -->
		<!-- <link href="/css/fp_map.css" rel="stylesheet" type="text/css"> -->
		<link href="/css/fp_route.css" rel="stylesheet" type="text/css"> 
		<link href="//fonts.googleapis.com/css?family=Oleo Script&subset=latin" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="container">
			<div id="titleBar" class="section">
				<form id="titleForm" action="/logout" method="GET">
					The LineHopper&nbsp;<button class="btn btn-sm btn-primary btn-block" type="submit">Log out</button>
				</form>
			</div>
			<div id="restfulRoutes" class="section">
				<p>
					<b>Search/add a new route:</b>
					<input type="text" id="newRouteNickname" placeholder="e.g. 'home-to-work'">
					<input type="text" id="address_origin" placeholder="50 Broadway, NY, NY">
					<input type="text" id="address_destination" placeholder="80 5th Av, NY, NY">
					<input type="text" id="search_term" placeholder="e.g. bakery">
					<button onclick="compileAll();">Search</button>&nbsp;<button id = "addNewRoute">ADD IT!</button>
				</p>

				<br /><br /> 
<!-- 				<b>Or choose a saved route:</b>
				<ul id="routesList">
					<% var rowsObj = JSON.parse(rows); %>
					<% for (var i=0; i<rowsObj.length; i++) { %>
						<li><%= rowsObj[i].nickname %>&nbsp;:&nbsp;<%= rowsObj[i].route_origin %>&nbsp;=>&nbsp;<%= rowsObj[i].route_destination %>&nbsp;<label for="search_term">Search term:</label><input type="text" id="search_term" placeholder="Search term" />&nbsp;<button onclick="calcRoute();">Search</button></li>
					<% } %>
				</ul> -->
			</div>

	<!-- 		<div id="control">
	            <label for="address">Addresses:</label>
	            <input type="text" id="address_origin" placeholder="Origin" />&nbsp;<input type="text" id="address_destination" placeholder="Destination" />
	            <br>
	            <label for="search_term">Search term:</label>
	            <input type="text" id="search_term" placeholder="Search term" />
	            <br>
	            <button onclick="calcRoute();">Search</button>
	        </div> -->
	        <div id="directionsPanel">
	        	<ol id="searchResultList"></ol>
	        </div>
			<div id="dummyMap"></div>
		</div>

		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
		<script type="text/javascript" src="/js/start.js"></script>
	</body>
</html>
