* {
    font-family: Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    position: absolute;
    width: 100%;
}

p h3 {
    margin: 0px auto;
}

li {
    font-family: serif;
}

#titleBar {
    height: 50px;
    margin: 0px auto;
    padding-top: 2px;
    padding-left: 12px;
/*    font-family: 'Oleo Script', serif; */
    color: #ffffff;
    background: #006600;
/*    font-size: 24pt; */
}

#titleForm {
    font-family: 'Oleo Script', serif;
    font-size: 24pt;
}

#restfulRoutes {
    height: 100px;
    margin: 0px auto;
    padding-left: 12px;
    background: #ccffcc;
    overflow: scroll;
}

#directionsPanel {
    float: right;
    padding-right: 12px;
    width: 390px;
    height: 542px;
    overflow: auto;
    font-size: 10pt;
    font-family: serif;
}

#searchResultList {
    font-family: serif;
}

/*#control {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}*/

#googleMap {
    margin-bottom: 0px;
    margin-right: 400px;
    width: 872px;
    height: 542px;
}

@media print {
    #googleMap {
	    height: 500px;
	    margin: 0;
    }

    #directions-panel {
	    float: none;
	    width: auto;
    }
}